.jumbotron {
    background: url("../images/2departureplatform-371218_1280.jpg");
    background-size: cover;
    box-shadow: 2px 2px 25px white;
    height: 250px;
    text-align: center;
    color: beige;
    font-family: 'Eater', cursive;
}

body {
    background: url("../images/train-wreck2-67775_640.jpg") no-repeat center center fixed;
    background-size: cover;
    color: black;
    text-align: center;
    
}

.table, .form-control, h2, button {
    background-color: gainsboro;
    color: black;
    font-family: 'Carrois Gothic SC', sans-serif;

}